<div id="cstm-item-counter">
	<a class="cart-checkout">
		<div class="cart-summary">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			<sup class="cart-total-items">
				<%=cartQty%>
			</sup>
		</div>
	</a>
</div>