<div class="cart-widget-container">
    <div class="cart-widget text-center">
        <div class="cstm-header">
            <a class="close" id="cart-widget-close">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </a>
            <h3 class="section-heading">My cart</h3>
        </div>

        <ul class="nav nav-tabs nav-justified" id="cart-tabs">
            <li class="active">
                <a href="#crt1" data-toggle="tab">Cart</a>
            </li>
            <li>
                <a href="#crt2" data-toggle="tab">Billing</a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- CONTAINER FOR JS INJECT CART ITEMS, DON'T CHANGE ID AND CLASS -->
            <div class="tab-pane active" id="crt1">
                <div class="items-container" id="items">
                    <% const cartItems = cart.items;%>
                    <% const totalItems = Object.keys(cartItems).length || 0 %>
                    <% if(cartItems != null && totalItems > 0){%>
                        <% for(index in cartItems){%>
                            <%if(cartItems.hasOwnProperty(index)){%>
                                <% let item = cartItems[index] %>
                                <div class="cart-item" id="item-<%=index%>">
                                    <span class="cart-item-image">
                                        <img src="<%= item.item.imageURL%>" alt="product-image">
                                    </span>
                                    <span class="cart-item-name">
                                        <%= item.item.title %>
                                    </span>
                                    <span class="cart-item-price">
                                        ₹
                                        <%=item.item.price%>
                                    </span>
                                    <span class="cart-item-sub sub-product" data-id="<%=item.item.collectionType%>">
                                            <span class="fa fa-minus"></span>
                                    </span>
                                    <span class="cart-item-quantity">
                                            <span class="cart-item-qty">
                                                <%= item.quantity %>
                                            </span>
                                    </span>
                                    <span class="cart-item-add add-product" data-id="<%=item.item.collectionType%>">
                                            <span class="fa fa-plus"></span>
                                    </span>
                                    <span class="cart-item-remove remove-product" data-id="<%=item.item.collectionType%>">
                                        <span class="fa fa-window-close"></span>
                                    </span>
                                </div>
                            <% } %>
                        <%}%>
                    <%} else {%>
                        <p id="notifyEmptyCart">No items in the cart</p>
                    <%}%>
                </div>

                <div class="cstm-footer">
                    <button type="button" class="btn btn-lg btn-primary switch-tab" id="next-1"><a href="#crt2" >continue</a></button>
                </div>
            </div>

            <!-- / CONTAINER FOR JS INJECT CART ITEMS, DON'T CHANGE ID AND CLASS -->

            <div class="tab-pane" id="crt2">
                <form action="<%=formUrl%>" method='POST' class="cart-form" id="cart-form">
                    <div class="cstm-form-body">
                        <div class="form-group">
                            <label for="NAME">Name</label>
                            <input type="text" name="NAME" class="form-control" placeholder="Enter your name" required>
                        </div>
                        <div class="form-group">
                            <label for="EMAIL">Email</label>
                            <input type="email" name="EMAIL" class="form-control" placeholder="yourmail@email.com" required>
                        </div>
                        <div class="form-group">
                            <label for="MOBILE_NO">Mobile</label>
                            <input type="tel" class="form-control cstm-num-pattern" name="MOBILENO" id="MOBILE_NO" maxlength="12" placeholder="mobile number"
                             required>
                        </div>
                        <div class="form-group">
                            <label for="ADDRESS_1">Address-1</label>
                            <input type="text" class="form-control" name="ADDRESS" id="ADDRESS1" maxlength="30" placeholder="Enter your address" required>
                        </div>
                        <div class="form-group">
                            <label for="CITY">City</label>
                            <input type="text" class="form-control" name="CITY" id="CITY" maxlength="20" placeholder="city" required>
                        </div>
                        <div class="form-group">
                            <label for="STATE">State</label>
                            <input type="text" class="form-control" name="STATE" id="STATE" placeholder="state" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="PINCODE">Pincode</label>
                            <input type="tel" class="form-control cstm-num-pattern" name="PINCODE" id="PINCODE" maxlength="10">
                        </div>
                    </div>

                    <button type="button" class="btn btn-mg btn-primary switch-tab pull-left" id="previous-1"><a href="#crt1" >previous</a></button>
                    <button class="btn btn-mg btn-success switch-tab pull-right" id="payment-start">Checkout</button>
                </form>
            </div>
        </div>

        <!-- CART SUMMARY CALCULATION -->
        <div class="cart-summary" id="cart-summary">
            <div class="cart-summary-row cart-summary-row-total">Total
                <span class="cart-value">₹
                    <span id="total-total">
                        <%= cart.totalPrice || 0%>
                    </span>
                </span>
            </div>
        </div>
        <!-- / CART SUMMARY CALCULATION -->
    </div>
    <!-- <div class="cart-widget-close-overlay"></div> -->
</div>
<script type="text/javascript">
    mixpanel.track("checkout", {
        "id": "payment-start"
    });
</script>