<section id="chatbotBody">
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="material-icons">info</i>
    </div>

    <div class="chat-box">
        <div class="chat-box-header">
            <i class="material-icons icon-custom">info </i> Talk to us
            <span class="chat-box-toggle">
                <i class="material-icons icon-custom">clear</i>
            </span>
        </div>
        <div class="chat-box-body">
            <div class="chat-box-overlay">
            </div>
            <!--chat-log -->
            <div class="chat-logs">
            </div>
        </div>
        <div class="chat-input">

            <input type="text" id="chat-input" class="chatinputdude" placeholder="Send a message..." />
            <button type="button" class="chat-submit" id="chat-submit">
                <i class="material-icons">send</i>
            </button>

        </div>
    </div>
</section>