<section class="section section-min">
	<footer class="footer" id="contact">
		<button type="button" id="scroll-top">
			<i class="fa fa-arrow-up" aria-hidden="true"></i>
		</button>
		<div class="container">
		   <div class="row">
		      <div class="col-md-12">
			 <div class="row">
			    <div class="col-md-4 col-md-push-4 text-center">
			       <div class="social">
				  <ul>
				     <li>
					<a href="http://facebook.com/" target="_blank">
					<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
				     </li>
				     <li>
					<a href="https://twitter.com/" target="_blank">
					<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>
				     </li>
				     <li>
					<a href="http://linkedin.com/" target="_blank">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
					</a>
				     </li>
				     <li>
					<a href="https://www.instagram.com/" target="_blank">
					<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
				     </li>
				     <li>
					<a href="http://youtube.com/" target="_blank">
					<i class="fa fa-youtube" aria-hidden="true"></i>
					</a>
				     </li>
				  </ul>
			       </div>
			    </div>
			 </div>
		      </div>
		      <div class="col-md-12">
			 <div class="row">
				 <div class="col-xs-12 center text-center">
					<ul class="footer-terms">
						<li><a href="/privacy">Privacy Policy </a></li>
						<li><a href="/terms">Terms and Conditions</a></li>
						<li><a href="/refund">Refund and Cancellations</a></li>
						<li><a href="/shipping">Shipping Policy</a></li>
					<ul>
				 </div>
			    <div class="col-xs-12">
			       <div class="footer-newsletter">
				  <div class="center text-center">
				     <h4> © Copyright 2017 Cadenza - All Rights Reserved</h4>
				  </div>
			       </div>
			    </div>
			 </div>
		      </div>
		   </div>
		</div>
	     </footer>
</section>