<section class="modal fade" id="login-form" role="dialog">
    <div class="modal-dialog">
        <!-- NEWS MODAL CONTENT -->
        <div class="modal-content shadow">
            <a class="close" data-dismiss="modal">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </a>

            <div class="modal-body">
                <div class="post-entry post-entry-modal">
                    <h3 class="section-heading">Enter your website</h3>

                    <div class="login-register-form-section">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#login" data-toggle="tab" data-toggle="modal" data-target="#login1">Login</a>
                            </li>
                            <li>
                                <a href="#register1" data-toggle="tab">Register</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane fade in active" id="login1">
                                <form class="form-horizontal" method="post" action="/login">
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <input type="text" name="email" class="form-control" placeholder="email" required>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="rememberMe">
                                        <label for="rememberMe">Remember Me</label>
                                        <a href="/forgotpassword" class="pull-right">Forgot password?</a>
                                    </div>
                                    <input type="submit" value="Login" class="btn btn-success btn-custom">

                                </form>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="register1">
                                <form class="form-horizontal" method="post" action="/signup">
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <input type="text" name="username" class="form-control" placeholder="Username" required>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-male"></i>
                                            </div>
                                            <input type="text" name="fullname" class="form-control" placeholder="Full name" required value="">
                                        </div>
                                    </div> -->
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <input type="email" name="email" class="form-control" placeholder="Email" required value="">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                            <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password" required>
                                        </div>
                                    </div>
                                    <input type="submit" value="Register" class="btn btn-success btn-custom">
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- / NEWS MODAL CONTENT -->
    </div>
</section>