<nav class="navbar navbar-default navbar-fixed-top " id="cstm-navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<!-- <img src="img/logo-light.png" alt="Cadenza"> -->
				<h3>Cadenza</h3>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="smooth-scroll" href="/about">About us</a>
				</li>
				<li>
					<a class="smooth-scroll" href="/products">Products</a>
				</li>
				<li>
					<a class="smooth-scroll" href="/#subscriptionplans">Subscriptions</a>
				</li>
				<li>
					<a class="cart-link">Cart
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						<sup class="cart-total-items">
							<%=cartQty%>
						</sup>
					</a>
				</li>
				<%if(!currentUser){%>
					<li>
						<a href="#" data-toggle="modal" data-target="#login-form">
							Login/Register
						</a>
					</li>
					<%} else {%>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Logged in as
								<%=currentUser%>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/profile">Profile</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/logout">Logout</a>
								</li>
							</ul>
						</li>
						<%}%>
			</ul>
		</div>
	</div>
</nav>
