<section class="section-min section product" id="products">
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">Subscription Plans</h3>
            </div>

            <% const rows = 2; %>
                <% const len = Math.ceil(planCount/rows); %>

                    <% for(let j = 0; j < planCount; j+=len) { %>
                        <% let temp = j; %>
                            <% let totalLen =  Math.min((temp + len),planCount); %>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="product-list-slider" class="product-row">
                                            <ul class="swiper-wrapper product-list product-list-vertical">

                                                <% for(let i = temp; i < totalLen; i++) { %>
                                                    <li class="swiper-slide fadeInUp text-center">
                                                        <span class="product-list-left pull-left">
                                                            <a href="#" class="hover-item">
                                                                <img alt="product image" class="product-list-primary-img" src="<%=plans[i].imageURL%>">
                                                            </a>
                                                        </span>

                                                        <a href="#">
                                                            <span class="product-list-right pull-left">
                                                                <span class="product-list-name h3">
                                                                    <%=plans[i].title%>
                                                                </span>
                                                                <span class="product-list-price">
                                                                    ₹
                                                                    <%=plans[i].price%>
                                                                </span>
                                                            </span>
                                                        </a>
                                                        <!-- add item -->
                                                    
                                                        <button type="button" id="<%=plans[i].collectionId%>" class="btn btn-default cstm-add-item" data-item-image="<%=plans[i].imageURL%>"
                                                            data-item-name="Multiseed Roasted small" data-item-price="<%=plans[i].price%>" data-id="plan">
                                                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                                            </span>Add to cart
                                                        </button>
                                                        <!-- remove item -->
                                                        <button type="button" id="remove-<%=plans[i].collectionId%>" class="btn btn-default remove-item">
                                                            </span>Remove
                                                        </button>
                                                    </li>
                                                    <%}%>

                                            </ul>

                                            <!-- CAROUSEL CONTROLS -->
                                            <div class="product-list-pagination text-center"></div>
                                            <div class="product-list-slider-next right-arrow-negative">
                                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                            </div>

                                            <div class="product-list-slider-prev left-arrow-negative">
                                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                            </div>
                                            <!-- CAROUSEL CONTROLS -->
                                        </div>
                                    </div>
                                </div>
                                <% } %>

        </div>

    </div>
</section>
