<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.3.1/sweetalert2.min.js'></script>

<script src="/js/bundle.min.js"></script>
<script src="/js/chatbot.js"></script>
<script src="/js/ajax/ajaxcall.js"></script>
<script src="/js/ajax/addtocart.js"></script>
<script src="/js/custom.js"></script>