<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Merchant checkout page</title>
		<style>
		#payform table{
			margin:100px auto;
		}
		</style>
		
	</head>
	
	<body>
		<center>
			<h1>Please do not refresh this page...</h1>
		</center>
		<!-- url for staging environment is - https://pguat.paytm.com/oltp-web/processTransaction -->
		<!-- url for production environment is - https://secure.paytm.in/oltp-web/processTransaction -->
		<form method="post" action="<%= url %>" name="f1" id="payform">
			<table border="1">
				<tbody>
					<% for (name in restdata) { <!-- console.log(name,restdata[name] );  -->%>
						<input type="hidden" name='<%= name %>' value='<%= restdata[name] %>'>
						<%}%>
				</tbody>
			</table>
			<script type="text/javascript">
					document.f1.submit();
			</script>
		</form>
	</body>

</html>
