no-display {
    display: none !important;
}

#home {
    background: url(../img/slider/slide1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    margin-top: 70px !important;
}

#home .text-center {
    position: relative;
    /* top:10px; */
}

#about,
#ingredients {
    margin-top: 0;
}

@media (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse,
    .navbar-toggle {
        display: block !important;
    }
    .navbar-header {
        float: none;
    }
}

#cstm-item-counter {
    background: #1a597f;
    color: #fff;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 30px;
    border: 1px transparent;
    border-radius: 50%;
    z-index: 5000;
}

#cstm-item-counter .snipcart-total-items {
    color: #fff;
}

.cart-link {
    cursor: pointer;
}

.about-new-black-box {
    border-radius: 600px;
    background: #cfcfcf !important;
    padding: 50px;
    width: 600px;
    height: 600px;
    font-size: 10px;
}

#home .swiper-slide {
    /* background: url('https://s3.amazonaws.com/monthlify.in/assets/images/basket.jpg'); */
}

#home p {
    color: white;
    text-shadow: 3px 2px rgb(85, 101, 111);
}

Ï #products .swiper-wrapper a,
#products .swiper-wrapper a span,
#products .swiper-wrapper button {
    color: #008155;
}

#products .swiper-wrapper button {
    border-color: #008155;
}

#testimonials {
    background-color: rgba(204, 204, 204, 0.75);
}

#items {
    padding-top: 25px;
    max-height: 350px;
    overflow: auto;
}

.cstm-footer #next-1 {
    float: right;
    position: relative;
    top: 25px;
}

.tab-pane {
    padding: 10px 1px;
}

#cart-summary {
    margin: 20px auto 10px;
}

.cstm-footer {
    margin-bottom: 50px;
}

.cstm-form-body {
    max-height: 350px;
    overflow: auto;
}

button a {
    color: white !important;
}

.swal2-container {
    z-index: 10000 !important;
}

.cart-widget .section-heading {
    margin: 10px auto 30px;
}

.cart-widget.text-center {
    z-index: 1000 !important;
}
.cart-widget-container .cart-widget {
    margin: 100px auto;
    margin-bottom: 0;
}

#about,
#heartwarming,
#healthy,
#nutrition,
#ingredients,
#home,
#subscriptionplans,
#product-02,
#product-03,
#privacy,
#krsupersnaks,
#productsmain,
#productsmaininfo,
#testimonials,
#product-ing,
.ingedients-page {
    margin: 0 auto !important;
}

#shipping {
    margin: 50px 0 auto;
}

footer .social {
    padding: 30px 0;
}

.home-content {
    margin-top: 15vh;
}


/* Buttons */

.btn {
    max-width: 200px !important;
}

.btn-primary {
    border: 1px transparent;
    transition-duration: 250ms;
}

#about .about-background,
#ingredients .about-background {
    height: auto;
}

@media (max-width:450px) {
    .about-black-box {
        padding: 40px 25px;
    }
    .about-black-box p {
        font-size: 2rem !important;
    }
}

.font-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.ingedients-page {
    max-height: 95vh;
}

.mgn-40 {
    margin: 40px auto;
}

nav .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

button.navbar-toggle {
    margin-right: 40px;
}

.navbar-brand h3{
    margin:0;
    margin-left: 25px;
}


/* Flash messages */

#flash-msg div {
    position: relative;
    top: 90px;
    z-index: 10;
    margin: 0 auto;
    max-width: 500px;
    border-radius: 5px;
}


/* Add/Remove items popup */

body.swal2-shown {
    overflow-y: unset !important;
}


/* Scroll to top button */

button#scroll-top {
    position: fixed;
    bottom: 30px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #1a597f;
    color: white;
    font-size: 2rem;
    z-index: 5;
    left: 5vw;
    opacity: 0.6;
    height: 50px;
    display: none;
}


/* Profile section */

#profile-section {
    margin: 0 auto;
    margin-top: 100px;
}

#profile-section .settings.panel.panel-primary {
    padding: 0;
    max-width: 300px;
    margin-top: 10px;
    position: fixed;
    right: 35px;
}

#forgotpassword,
#resetpassword {
    margin: 100px auto;
}


/* Navbar cart */

nav a.cart-link .fa-shopping-cart {
    font-size: 16px;
}

nav a.cart-link .cart-total-items {
    font-size: 16px;
    color: green;
}


/* chat box */

@media (max-width:450px) {
    .chat-box {
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        top: 0;
        left: 0;
    }
    ;
    .chat-box-body {
        height: 85% !important;
        max-height: 83vh !important;
        overflow-y: scroll !important;
    }
    .chat-logs {
        height: 100%;
    }
    .chat-input {
        position: fixed;
        width: 100vw;
        height: 7vh;
        bottom: 0;
    }
    #chat-input {
        height: 7vh;
    }
}

#krsupersnaks,
#krsupersnaks .about-background,
#productsmain .about-background,
#ingredients .about-background {
    margin: 0 auto;
}

#heartwarm {
    margin: 0;
    position: relative;
    top: 15vh;
    left: 5vw;
}

#heartwarm,
#productsmaininfo {
    padding: 100px 7%;
    text-align: center;
}

#heartwarm,
#nutitioninfo {
    width: 550px;
    height: 550px;
}

#ingredients .about-background {
    min-height: 97vh;
}

@media (min-width:768px) {
    #ingredients .about-background .about-black-box-green {
        border-radius: 50%;
        width: 500px;
        height: 500px;
    }
}

@media (min-width:450px) and (max-width:600px) {
    #productsmaininfo {
        width: 400px;
        height: 400px;
    }
}

@media (max-width:767px) {
    #heartwarm,
    #productsmaininfo {
        max-width: 95vw;
        max-height: 95vh;
        text-align: center;
        width: auto;
        height: auto;
        padding: 100px 10%;
    }
    .about-background .about-circle-2 {
        margin-left: -5vw !important;
    }
}

.about-black-box-green {
    min-height: 50vh;
}

@media (max-width:450px) {
    .about-background .about-circle-2 {
        margin-left: -7vw !important;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .section-heading span {
        text-align: center;
        margin: -60px 0 0;
    }
}

@media (min-width:990px) {
    #productsmaininfo {
        position: relative;
        margin-top: 50px !important;
        left: 45vw;
    }
}

@media (max-width:640px) {
    #ingredients .about-black-box-green {
        padding: 10% !important;
    }
    h3.section-heading {
        text-align: center;
    }
}

@media (min-width:990px) {
    #ingredients .about-background .about-black-box-green {
        transform: scale(1.2);
        margin: 25vh 0 0 15vh;
    }
}


/* Overwrite bootstrap modal */

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header:before,
.modal-header:after {
    content: " ";
    display: table;
}

.modal-header:after {
    clear: both;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.modal-footer {
    padding: 0px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.modal-footer:after {
    clear: both;
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1000px;
    }
}