<%include ../partials/wrappers/head-wrap%>

      
      <section class="container-fluid about white-color" id="about">
         <div class="about-background about-background-1 row fadeInUp">
            <div class="col-md-6 about-black-box-green">
               About us section
            </div>
         </div>
      </section>

      
<%include ../partials/wrappers/foot-wrap%>