<%include ../partials/wrappers/head-wrap%>
	<style>
		.cart-widget-close-overlay {
			z-index: -10;
		}
	</style>
	<div class="container" id="forgotpassword">
		<form action="/forgotpassword" method="post">
			<div class="form-group">
				<label for="proForgot">Emailid</label>
				<input type="email" class="form-control" id="proForgot" name="email" placeholder="Enter emailid to reset password" required>
			</div>

			<button class="btn btn-primary">Submit</button>
		</form>
	</div>

	<%include ../partials/wrappers/foot-wrap%>
