<%include ../partials/wrappers/head-wrap%>

		<!-- Section: Landing/home page -->
		<section class="home section image-slider" id="home">
			<div class="home-slider text-center">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="home-content text-center">
							<p>Home-Slide1</p>
						</div>
					</div>
					<div class="swiper-slide cstm-slide-2">
						<div class="home-content text-center">
							<p>Home-Slide2</p>
						</div>
					</div>
				</div>
				<div class="home-pagination"></div>
				<div class="home-slider-next right-arrow-negative">
					<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				</div>
				<div class="home-slider-prev left-arrow-negative">
					<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
				</div>
			</div>
		</section>

		<!-- Section: About-us -->
		<section class="container-fluid about white-color no-padding" id="about">
			<div class="about-background about-background-1 row no-margin fadeInUp">
				<div class="col-md-6 about-black-box">
					<p>About us story here</p>
				</div>
			</div>
		</section>
		<!-- Section:Products -->
		<% include partials/products %>

<%include ../partials/wrappers/foot-wrap%>
<script type="text/javascript">
    mixpanel.track("LandingPage", {
    "Page Name":"LandingPage"
    });
</script>