<%include ../partials/wrappers/head-wrap%>
	<div class="image-container set-full-height">

	    <!-- Invoice Starts here-->
	    <div class="container">
	        <div class="row">
	        	<div class="invoice" style="width:80%; margin:0px auto; ">

		        	<div class="invoicestart" style="width:100%;float:left;padding: 0px 3%; border:1px solid #ccc; margin:40px 0%;">
			        	<div class="titlehead" style="float: left;width:100%; text-align:right; font-weight:bold;
			        	font-size:22px; color:#000; padding:40px 0%;">Cadenza</div>

			        	<div class="addressdets" style="width:100%;float: left;">
			        		<div class="addresshead" style="border:1px solid #ccc; padding:5px 1%; 
			        		width:100%;float: left;">
			        			<div class="invoicetitle" style="float: left;width:45%; color:#000; font-size:26px;
			        			text-align:left; font-weight:bold;">Order Summary</div>
			        		</div>

			        		<div class="orderfullcheckout" style="float:left;width:100%;">
			        			<div class="orderfullcheckouthead" style="float:left;width:100%; background-color:#3fa9f5; border:1px solid #ccc;padding:5px 0%; text-align:center; color:#fff; font-weight:bold; font-size:16px">
			        				<div class="in_title" style="float:left;width:30%;">TITLE</div>
			        				<div class="in_vender" style="float:left;width:25%;">VENDER</div>
			        				<div class="in_city" style="float:left;width:10%;">QUANTITY</div>
			        				<div class="in_tax" style="float:left;width:10%;">TAX</div>
			        				<div class="in_unitprice" style="float:left;width:15%;">UNIT PRICE</div>
			        				<div class="in_price" style="float:left;width:10%;">PRICE</div>
								</div>
								

								<% const total=0; const cartItems = cart.items;%>
								<% const totalItems = Object.keys(cartItems).length || 0 %>
                    				<% if(cartItems != null && totalItems > 0){%>
                        				<% for(index in cartItems){%>
                            				<%if(cartItems.hasOwnProperty(index)){%>
                                				<% let item = cartItems[index] %>
			        			<!-- Product -->
			        			<div class="orderfullcheckoutinfo" style="border:1px solid #ccc;padding:1%; text-align:center;font-size:16px; float:left; width:100%; margin:5px 0% 0px;">			        				
			        				<div class="in_title" style="float:left;width:30%;">
			        					<div class="tileimg" style="float:left;width:20%;"><img src="<%= item.item.imageURL%>" alt="image" style="float:left; width:100%;height:auto;border: 1px solid #ccc; padding:1%;"></div>
			        					<div class="titlname" style="float:left;width:80%; color:#3fa9f5;"><%= item.item.title %></div>
			        				</div>
			        				<div class="in_vender" style="float:left;width:25%;"><%= item.item.collectionType %></div>
			        				<div class="in_city" style="float:left;width:10%;"><%= item.quantity %></div>
			        				<div class="in_tax" style="float:left;width:10%;">0%</div>
			        				<div class="in_unitprice" style="float:left;width:15%;"><%=item.item.price%></div>
			        				<div class="in_price" style="float:left;width:10%;"><%=item.item.price * item.quantity%></div>
								</div>
								 				<% } %>
									<% } %>
								<% } %>

			        		</div>



			        		<div class="shippinginfo" style="width:100%; float:left; margin-top:30px;">
			        				<div class="shippingaddress" style="width:100%; float:left;">
			        					<p style="width:87%;float:left;color:#000;font-size:16px;text-align:right;margin-right:2%;">DISCOUNT:</p>
			        					<p style="width:8%;float:left;color:#000;font-size:16px;text-align:left;">0</p>
			        					<p style="width:87%;float:left;color:#000;font-size:16px;text-align:right;margin-right:2%;">SUB TOTAL:</p>
			        					<p style="width:8%;float:left;color:#000;font-size:16px;text-align:left;"><%= cart.totalPrice || 0%></p>
			        					<p style="width:87%;float:left;color:#000;font-size:16px;text-align:right;margin-right:2%;">SHIPPING:</p>
			        					<p style="width:8%;float:left;color:#000;font-size:16px;text-align:left;">0</p>
			        					<p style="width:87%;float:left;color:#000;font-size:16px;text-align:right;margin-right:2%;">TAX:</p>
			        					<p style="width:8%;float:left;color:#000;font-size:16px;text-align:left;">0</p>
			        				</div>

			        				<div class="addresshead" style="border:1px solid #3fa9f5; padding:5px 1%; width:100%;float: left;">

			        					<p style="width:88%;float:left;color:#000;font-weight:bold;font-size:16px;text-align:left;margin-right:2%;">TOTAL :</p>
			        					<p style="width:8%;float:left;color:#000;font-weight:bold;font-size:16px;text-align:left;"><%= cart.totalPrice || 0%></p>
			        					
			        				</div>


								</div>
								<div class="addresshead" style="border:1px solid #ccc; padding:5px 1%; 
							width:100%;float: left;">
							  <form action="/transact" method="POST">
								<input type="hidden" name="EMAIL" value="<%=email%>">
                                <input type="hidden" name="order_id" value="<%=order_id%>">
			        			<input type="submit" class="orderno" style="float: right;background-color:#3fa9f5;color:#fff; font-weight:bold; font-size:14px; width:20%;    padding: 8px 0%;text-align: center;" value="Proceed to payment">
			        		  </form>
			        		</div>
			        	</div>
			        </div>

			    </div>
	        </div>	
	    </div>
	    <!-- Invoice Ends here -->
	    
	</div>
	<%include ../partials/wrappers/foot-wrap%>


<script type="text/javascript">
    mixpanel.track("orderSummary", {
    "Page Name":"order summary"
    });
</script>

