<%include ../partials/wrappers/head-wrap%>

	<section class="container-fluid white-color" id="productsmain">
		<div class="about-background row fadeInUp">
			<div class="col-md-6 about-circle-2" id="productsmaininfo">
				<h3 class="section-heading"> Product info here
				</h3>
			</div>
		</div>
	</section>

	<!-- Testimonial starts here -->
	<section class="testimonials" id="testimonials">
		<div class="overlaybak" style="background-color:rgba(204, 204, 204, 0.75);">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="section-heading">Testimonials</h3>
					</div>
					<div class="col-md-12 testimonials-slider text-center">
						<!-- CAROUSEL WRAPPER -->
						<div class="swiper-wrapper">
							<!-- SINGLE TESTIMONIALS ITEM -->
							<div class="swiper-slide">
								<div class="testimonials-container shadow">
									<img alt="user avatar" class="wow fadeInUp" src="img/lalta.png">
									<h3 class="wow fadeInUp"> User_1
										<span>Test user1 description</span>
									</h3>
									<p class="wow fadeInUp">
										Blabla this a test review
									</p>
								</div>
							</div>
							<!-- / SINGLE TESTIMONIALS ITEM-->
							<!-- SINGLE TESTIMONIALS ITEM -->
							<div class="swiper-slide">
								<div class="testimonials-container shadow">
									<img alt="user avatar" class="wow fadeInUp" src="img/helen.png">
									<h3 class="wow fadeInUp">User_2
										<span>Test user1 description</span>
									</h3>
									<p class="wow fadeInUp">Another test review</p>
								</div>
							</div>
							<!-- / SINGLE TESTIMONIALS ITEM-->
						</div>
						<!-- / CAROUSEL WRAPPER -->
						<!-- CAROUSEL CONTROLS -->
						<div class="testimonials-pagination"></div>
						<div class="testimonials-slider-next right-arrow-negative">
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</div>
						<div class="testimonials-slider-prev left-arrow-negative">
							<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
						</div>
						<!-- / CAROUSEL CONTROLS -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<%include ../partials/products%>

	<%include ../partials/wrappers/foot-wrap%>
	<script type="text/javascript">
		mixpanel.track("ProductsPage", {
		"Page Name":"ProductsPage"
		});
	</script>