<%include ../partials/wrappers/head-wrap%>

	<div class="container" id="profile-section">

		<!-- Section: Side navbar -->
		<div class="col-md-3 settings panel panel-primary">
			<div class="panel-heading">
				Settings
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					<li class="active">
						<a href="#tab_a" data-toggle="pill">Profile</a>
					</li>
					<li>
						<a href="#tab_b" data-toggle="pill">Account</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- END---side navbar -->

		<!-- Section:Tab Content -->
		<div class="tab-content col-md-9">

			<div class="tab-pane active" id="tab_a">
				<!-- Section: User details -->
				<div class="panel panel-primary">
					<div class="panel-heading">User details</div>
					<div class="panel-body">

						<form action="" method="post">
							<div class="form-group">
								<label for="proUserName">User Name</label>
								<input type="text" class="form-control" id="proUserName" name="username" placeholder="Enter User Name" required>
							</div>
							<div class="form-group">
								<label for="proFullName">Full Name</label>
								<input type="text" class="form-control" id="proFullName" name="fullname" placeholder="Enter Full Name" required>
							</div>
							<div class="form-group">
								<label for="proMobile">Mobile</label>
								<input type="tel" class="form-control cstm-num-pattern" pattern="[0-9]{6,}" id="proMobile" name="mobile" placeholder="Enter mobile" required>
							</div>
							<button class="btn btn-primary pull-right">Save</button>
						</form>

					</div>
				</div>

				<!--Section:password settings  -->
				<div class="panel panel-primary">
					<div class="panel-heading">Change password</div>
					<div class="panel-body">
						<form action="/updatepassword" method="post" class="form-horizantal">
							<div class="form-group">
								<label for="proPassword">Old</label>
								<input type="password" class="form-control" id="proPassword" name="password" placeholder="Enter old password" required>
							</div>
							<div class="form-group">
								<label for="pronewPassword">New</label>
								<input type="password" class="form-control" id="pronewPassword" name="newpassword" placeholder="Enter new password" required>
							</div>
							<div class="form-group">
								<label for="confirmNewPassword">Enter again</label>
								<input type="password" class="form-control" name="cnewpassword" id="confirmNewPassword" placeholder="Confirm new password" required>
							</div>
							<button class="btn btn-primary pull-right">Save</button>
						</form>

					</div>
				</div>

				<!-- Section:Address -->
				<div class="panel panel-primary">
					<div class="panel-heading">Shipping</div>
					<div class="panel-body">
						<form action="/" method="post" class="form-horizantal">
							<div class="form-group">
								<label for="proAddress">Address 1</label>
								<input type="text" class="form-control" id="proAddress" name="address" placeholder="enter address">
							</div>
							<div class="form-group">
								<label for="proAddress2">Address 2</label>
								<input type="text" class="form-control" id="proAddress2" name="address2" placeholder="optional">
							</div>
							<div class="form-group">
								<label for="proCity">City</label>
								<input type="text" class="form-control" id="proCity" name="city">
							</div>
							<div class="form-group">
								<label for="proState">State</label>
								<input type="text" class="form-control" id="proState" name="state">
							</div>
							<div class="form-group">
								<label for="proCountry">Country</label>
								<input type="text" class="form-control" id="proCountry" name="country">
							</div>
							<div class="form-group">
								<label for="proCountry">Postal code</label>
								<input pattern="[0-9]{6,}" class="form-control cstm-num-pattern" id="proCountry" name="postalcode">
							</div>

							<button class="btn btn-primary pull-right">Save</button>
						</form>

					</div>
				</div>

			</div>

			<div class="tab-pane" id="tab_b">
				<h4>Pane B</h4>
				<p>Under construction</p>
			</div>
		</div>
		<!-- END---tab content -->
	</div>
	<!-- end of container -->

	<%include ../partials/wrappers/foot-wrap%>
