<%include ../partials/wrappers/head-wrap%>

	<section class="post-list" id="refund-policy">
		<div class="container overflow-hidden">
			<h1>Refund and Cancellation Policy here</h1>
		</div>
	</section>

<%include ../partials/wrappers/foot-wrap%>