<%include ../partials/wrappers/head-wrap%>
<style>
		.cart-widget-close-overlay {
			z-index: -10;
		}
	</style>
	<div class="container" id="resetpassword">
		<form action="/resetpassword" method="post">
				<input type="hidden" name="email" value="<%=email%>" required>
			<div class="form-group">
				<label for="proNewPassword">New password</label>
				<input type="password" class="form-control" id="proNewPassword" name="newpassword" placeholder="Enter new profile password" required>
			</div>
			<div class="form-group">
				<label for="proConfirmPassword">Confirm password</label>
				<input type="password" class="form-control" id="proConfirmPassword" name="cnewpassword" placeholder="Re-enter password" required>
			</div>
			<button class="btn btn-primary">Reset password!</button>
		</form>
	</div>

	<%include ../partials/wrappers/foot-wrap%>
