<%include ../partials/wrappers/head-wrap%>

		<section class="post-list" id="shipping">
			<div class="container overflow-hidden">
				<h1>Shipping Policy here</h1>
			</div>
		</section>

<%include ../partials/wrappers/foot-wrap%>