<%include ../partials/wrappers/head-wrap%>

	<section class="post-list" id="terms-conditions">
		<div class="container overflow-hidden">
			<h1>Terms and Conditions</h1>
		</div>
	</section>

<%include ../partials/wrappers/foot-wrap%>