	<!-- LOGIN MODAL -->
	<%include ../login%>

	<!-- chatbot start -->
	<%include ../chatbot%>

	<!-- Section:Cart modal -->
	<%include ../cartpopup%>
	
	<!-- footer starts -->
	<%include ../footer%>

	<!-- Scripts -->
	<%include ../scripts%>

</body>

</html>