<%include ../header%>

	<body data-offset="50" data-spy="scroll" data-target=".navbar">
		<!-- Section:navbar -->
		<%include ../navbar%>

		<div class="container" id="flash-msg">
				<!-- Flash messages -->
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger alert-dismissable" role="alert">
					<%= error %>
					<a href="#" class="close" data-dismiss="alert" title="close">×</a>
				</div>
			<% } %>
			<% if(success && success.length > 0){ %>
				<div class="alert alert-success alert-dismissable" role="alert">
					<%= success %>
					<a href="#" class="close" data-dismiss="alert" title="close">×</a>
				</div>
			<% } %>
		</div>    

		<!-- Section:CART ITEM COUNTER -->
		<!-- cart already placed in navbar -->